.memory__jeux__plateau {
    display: flex;
    justify-content: center;
}

#memory__jeux__plateau__cartes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;
}

.carte {
    position: relative;
    width: 100px;
    height: 100px;    
    border: solid 1px grey;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    transition: transform 0.5s;
    transform-style: preserve-3d; 
}

.--animation-retournement-carte {
    transform: rotateY(180deg);
}

.--animation-retournement-carte-final {
    transform: rotateY(180deg);
}

.carte-face-arriere {
    position: absolute;
    transform: rotateY(0deg);
    background-color: lightgreen;
    width: 100px;
    height: 100px; 
    backface-visibility: hidden;
}

.carte-face-avant {
    position: absolute;
    background-image: url('../medias/cards.png');    
    transform: rotateY(180deg);
    width: 100px;
    height: 100px;    
    backface-visibility: hidden;  
}

.memory__jeux__temps__chronometre {
    background-color: lightgray;
    width: 700px;
}

.memory__jeux__temps__chronometre__barre-progression {
    height: 24px;
    width: 0;
    background-color: green;
}